* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


#container {
    margin-left: auto;
    margin-right: auto;
    /*abbiamo ridimensionato il nostro sito web solo che con 240px andando a stringere lo schermo scompareil nostro sito quindi invece di 240px inseriamoauto cosi si adatta ad ogni schermo*/
    max-width: 800px;
    /* una dimensione massima perchè non voglio che prende tutta la pagina*/
    
}


.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-weight: bold;
    padding: 0 30px;
    background-color: rgb(150, 217, 0);
    font-size: 16px;
}

span {
    color: firebrick;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    color: #fff;
}

.navbar ul li a:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;


}

.centro h1 { 
    position: relative;
    margin-top: -250px;
    color: snow;
    font-size: 25px;
    
    z-index: 4;
    
}


.centro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/sinval-carvalho-WbEibGKHBMY-unsplash.jpg) no-repeat center center/cover;


}

.centro::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0.0.0.0.4);

}


@media(max-width:330px) {
    .navbar {
        width: px;
    }

    .centro {
        width: px;

    }
}





@media(max-width:780px) {
    .navbar {
        flex-direction: column;
        height: 140px;
        padding 20px;
    }

    .centro {
        text-align: center;
    }
}
